= render 'shared/nav-toggle'
= render 'shared/sidebar'
#container
  = render 'shared/header'
  %main#main
    .notification-title
      お知らせ一覧
    .border-line
    %section.inner
      - notifications = @notifications.where.not(visitor_id: current_user.id)
      - if notifications.exists?
        .notification-lists
          = render notifications
          = paginate notifications
      - else
        .notification-board
          .notification-text
            通知はありません
    .blank
  = render 'shared/footer'
