= render 'shared/header'

.contents
  .purpose アカウント編集
  .user-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "users/shared/error_messages", resource: resource
      .user-form-group
        = f.label :name, "ニックネーム"
        %br/
        = f.text_field :name, autofocus: true, required: true, maxlength: '15', class: "user-form-control"
      .user-form-group
        = f.label :email, "メールアドレス"
        %br/
        = f.email_field :email, autocomplete: "email", required: true, class: "user-form-control-email"
      .user-form-group
        = f.label :profile, "紹介文（30字）"
        %br/
        = f.text_area :profile, autocomplete: "profile", required: true,　maxlength: '30', rows: "2", class: "user-form-control"
      .user-form-group
        = f.label :password, "パスワード（六文字以上）"
        %br/
        = f.password_field :password, autocomplete: "new-password", required: true, minlength: @minimum_password_length, class: "user-form-control"
      .user-form-group
        = f.label :password_confirmation, "パスワード（確認用）"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", required: true, minlength: @minimum_password_length, class: "user-form-control"
      .user-form-group
        = f.label :image, "アイコン（任意）"
        %br/
        - if @user.image.present?
          .preview-box
            .upper-box
              = image_tag(@user.image.url, class: "upload-image", height: "150px", width: "150px")
            .lower-box
              .btn.delete-box
                %span 削除
        #img-prv
        %label.btn.form-img
          画像をアップロード
          %i.fas.fa-images
          .img-field
            = f.file_field :image, type: 'file', value: "", class: "hidden", id: "user-img"
      .user-form-group
        = f.submit "編集する", class: "btn user-btn"

= render 'shared/footer'
